* {
  box-sizing: border-box;
}

body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 100vh;
  margin: 1.5rem;
  padding: 0;
  background-color: #cc9544;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul li{
  width: 10rem;
  text-align:center;
  margin-bottom:1rem;
  display: inline-block;
  margin: 2rem;
}

nav ul li a{
  font-size:2rem;
  font-weight:600;
  text-decoration:none;
  padding: 1rem;
  display: block;
  background-color: #361500
}

nav a:hover{
  background-color:#a04005;
  color: #cc9544;
}

ul {
  
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  
}

ul li{
  
  width: 15rem;
  text-align:center;
  margin-bottom:1rem;
  background-color: #1c0a00;
  display: inline-block;
  margin: 2rem;
  color: #f7f7f7;
}

ul li a{
  
  font-size:1.5rem;
  font-weight:bold;
  text-decoration:none;
  padding: 1rem;
  display: block;
  color: #f8f8f8;
}

ul li a:hover{
  background-color: #603601;
}

.page-wrapper {
  flex-direction: column;
  justify-content: center;
  background-color: #cc9544;
  display: flex;
  flex-flow: row nowrap;

}

.profile-image {
  background-color: black;
  border-radius: 50%;
  color: white;
  font-size: 32px;
  height: 180px;
  margin: 50px;
  width: 180px;
}
.iframe{
  display: none
}

.active{
  display: block;
}

.iframes{
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
}

.btns{
  width:100%;
  display: flex;
  justify-content: center;
  align-items:center;
}
.btn{
  background-color:#361500;
  color:#f7f7f7;
  padding: 5px;
  font-size: 20px;
  border-color: transparent;
  border-radius: 5px;
  cursor:pointer;
}

.prev{
  margin: 15px;
}

.btn:disabled{
  background-color: #666;
  cursor: not-allowed;
}

fieldset{
  width:70%;
}

form{
  font-size: 30px;
  font-weight: bold;
}

legend{
  font-weight: 600;
  font-size: 4rem;
  margin: 1rem, 0, .5rem, 0;
  
}

label{
  display: block;
}

input{
  font-size: 2rem;
  font-weight: lighter;
  border-radius: 2rem;
  padding:1rem;
}

textarea{
  height:10rem;
  padding: 1rem;
  border-radius: 2rem;
  width:200mm;
}

.section{
  padding: 10px;
  width: 65%;
  flex-basis:55%;
}

.aside{
  width: 25%;
  flex-basis: 35%;
  padding: 2rem;
  background-color: #603601;
  color: #f7f7f7;
}

.card {
  align-items: center;
  border-radius: 10px;
  box-shadow: 4px 4px 40px 0px rgba(0, 0, 0, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px;
  padding: 50px;
  background-color: #603601;
  cursor: pointer;
  transition:.5s;
}

.on{
  transform: rotateZ(360deg);
}

.card:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #5e1807;
  background-color: rgb(131, 76, 4);
}

.submit{
  font-size: 2rem;
  padding: .7rem;
  margin-top:.5rem;
  border-radius: 1rem;
}

li{
  list-style-type: none;
  display: inline-block;
}

li a{
  text-decoration: none;
  color:black;
  font-weight: bold;
  display: block;
}
